html,
body{
    width: 100%;
    height: 100%;
}

/*#container {*/

    /*width: 80%;*/
    /*height: 100%;*/
/*}*/

/*#ceshi {*/
    /*background-color: red;*/
    /*float:right;*/
    /*width: 20%;*/
    /*height: 100%;*/
/*}*/

div.qutag{
    background-color: hsla(180, 100%, 50%, 0.7);
    height: 80px;
    width: 80px;
    border: 1px solid hsl(180, 100%, 40%);
    border-radius: 40px;
    box-shadow: hsl(180, 100%, 50%) 0px 0px 1px;
    z-index:10;
}
div.qutag:hover {
    background-color: rgba(228,57,60,0.9);

    z-index:20;

}
.diqu{
    position: absolute;
    width:80px;
    height: 50px;
    top:60%;
    left:60%;
    margin-left:-50px;
    margin-top:-25px;
    text-align: center;

    font: 15px "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, "宋体b8b\4 f53", SimSun, sans-serif;
}


.fangzi {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    white-space:nowrap;
    display: inline-block;
    background-color: rgb(57, 172, 106);

}
.wenzi{
    padding: 10px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, "宋体b8b\4 f53", SimSun, sans-serif;
}
.in{
    display:block;
    width:0;
    height:0;
    border-width:13px 13px 0;
    border-style:solid;
    border-color: rgb(57, 172, 106) transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:22px;
    left:15px;

}

.search{
	margin: 0 auto;
	width: 100%;
	padding-top: 10px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 40px;
	height:170px;
	position: relative;
}
.iptext{
	width: 80%;
	height:25px;
    border: 1px solid #9ca0a7;
    border-right-width: 0;
    line-height: 26px;
    float: left;
    font-size: 12px;
    padding: 0 4px;
}
.tableft{
    z-index: 12;
	width: 380px;
	border: 1px solid #e4e4e4;
	padding: 10px;
	display: inline-block!important;
	background-color:whitesmoke;
	position:absolute;
    left:0;
    top:0;
    right:0;
     bottom:0; //left,top,right,bottom都为0，充满真个页面
    overflow-y:auto;
    overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-width: 0;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.75rem 1.25rem;
}
.tableft>ul{
	width: 100%;
	list-style: none;
	padding: 0px !important;
}
.tableft>ul>li{
	width: 100%;
	padding-top: 10px;
	height: 135px;
	line-height: 135px;
	text-align: center;
	border-bottom: #e4e4e4 solid 1px;
}
.tableft img{
	width: 116px;
	height: 116px;
}
.tableft .img-left{
	float: left;
	height: 116px;
}
.text-right{
	font-family: "微软雅黑";
}
.text-tle{
	font-size: 14px;
    color: #262626;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}
.text-des{
	white-space: nowrap;
    position: relative;
    line-height: 1.2;
	font-size: 10px;
}
.text-des>span{
	margin-left: 7px;
}

.sp1{
	margin-left: 30px !important;
	font-size: 16px;
	color:crimson;
}
.sp2{
	margin-left: 14px!important;
}
.sp3{
	font-size: 10px!important;
}
.sp4{
	position: absolute;
	left: 130px;
}
.sp5{
	border:1px solid slateblue;
	color: #6A5ACD;
	font-size: 10px;
	float: left;
	padding: 2px;
	margin-left: 5%!important;
	margin-top: 25px;
	}
		.tabright{

            height:100%;
			width: 72.37%;
			display: inline-block!important;
			float: right;
		}
		.tab{
			width: 100%;
			height: 100%;
		}

	body{
	          margin:0;
			  padding: 0;
	}
	.test-1::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
   .test-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
    }
   .test-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
       background-color: #e4e4e4;
     -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
     border-radius:2em;
    }

		html,body,#container{
			   height:100%;
		   }
		   .btn{
			   margin-left: 0.5rem;
			   width:4rem;
		   }
		   .input-card{
			   position: absolute;
			   left:0px;
			   top: 0;
			   height: 179px;
			   width: 370px!important;
		   }

.tab{
    width: 100%;
    height: 100%;
}

body{
    margin:0;
    padding: 0;
}

.test-1::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.test-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}

.test-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background-color: #e4e4e4;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}


.btn{
   margin-left: 0.5rem;
   width:4rem;
}
.input-card{
   position: absolute;
   left:0px;
   top: 0;
   height: 179px;
   width: 370px!important;
}

.lianjie{
    text-decoration:none;
    color: #000000!important;
}