html,
body,
#container {
    width: 100%;
    height: 100%;
}

#container {
    float:left;
    width: 80%;
    height: 100%;
}

#content {
    width: 20%;
    height: 100%;
    float:right;
    background-color:red;
}

div.qutag{
    background-color: hsla(180, 100%, 50%, 0.7);
    height: 80px;
    width: 80px;
    border: 1px solid hsl(180, 100%, 40%);
    border-radius: 40px;
    box-shadow: hsl(180, 100%, 50%) 0px 0px 1px;
    z-index:10;
}
div.qutag:hover {
    background-color: rgba(228,57,60,0.9);

    z-index:20;

}
.diqu{
    position: absolute;
    width:80px;
    height: 50px;
    top:60%;
    left:60%;
    margin-left:-50px;
    margin-top:-25px;
    text-align: center;

    font: 15px "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, "宋体b8b\4 f53", SimSun, sans-serif;
}


.fangzi {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    white-space:nowrap;
    display: inline-block;
    background-color: rgb(57, 172, 106);

}
.wenzi{
    padding: 10px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, "宋体b8b\4 f53", SimSun, sans-serif;
}
.in{
    display:block;
    width:0;
    height:0;
    border-width:13px 13px 0;
    border-style:solid;
    border-color: rgb(57, 172, 106) transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:22px;
    left:15px;

}
/*.amap-icon img,*/
/*.amap-marker-content img{*/
    /*width: 25px;*/
    /*height: 34px;*/
/*}*/

/*.marker {*/
    /*position: absolute;*/
    /*top: -20px;*/
    /*right: -118px;*/
    /*color: #fff;*/
    /*padding: 4px 10px;*/
    /*box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);*/
    /*white-space: nowrap;*/
    /*font-size: 12px;*/
    /*font-family: "";*/
    /*background-color: #25A5F7;*/
    /*border-radius: 3px;*/
/*}*/

/*.input-card{*/
    /*width: 32rem;*/
    /*z-index: 170;*/
/*}*/

/*.input-card .btn{*/
    /*margin-right: .8rem;*/
/*}*/

/*.input-card .btn:last-child{*/
    /*margin-right: 0;*/
/*}*/