<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <title>地图显示</title>
    <link rel="stylesheet" href="../static/map.css" />
</head>
<body>
<div id="container">
    <div id="cirlk" onload="javascript:circle()"></div>

</div>
<!-- 加载地图JSAPI脚本 -->
<script src="../static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.11&key=a7d6b9dba1e2cd1299a5cc33996f34ba&plugin=AMap.DistrictSearch,AMap.Geocoder,AMap.Circle"></script>
<script src="../static/map.js"></script>

</body>
</html>