<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <title>地图显示</title>
    <link rel="stylesheet" href="../static/map.css" />
</head>
<body>
	 <div class="tab">
	 <div class="tableft test-1 ">
		 <div class="search">
			 <input width="120" height="55"  class="iptext" placeholder="输入小区或地铁站开始找房"></input>
				 <button class="btn">搜索</button>
			  </div>
		 <ul id="data">
			  <li>
				 <div class="img-left">
					 <img src="/static/kongfang.jpg"></img>
					 </div>
				<div class="text-right">
					<p class="text-tle">
						阿达的规划郭德纲的很大活的wrwrwrwerereewwrw
						</p>
					<p class="text-des">
					 <span class="sp2">3室2厅</span><span>153平米</span><span>西</span><span class="sp1">17200<span class="sp3">元/月</span></span>
					</p>
					<p class="text-des">
					<span class="sp4">曹大大</span>
					</p>
					<p class="text-des">
						<span class="sp5">近地铁</span>
						</p>
					</div>
				  </li>
			 </ul>
	 </div>
	 <div id="container">dadasad</div>
	</div>
<!-- 加载地图JSAPI脚本 -->
<script src="../static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.11&key=a7d6b9dba1e2cd1299a5cc33996f34ba&plugin=AMap.DistrictSearch,AMap.Geocoder,AMap.Circle,AMap.MarkerClusterer"></script>
<script src="../static/data.js"></script>
<script src="../static/map.js"></script>

</body>
</html>